<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- header contains all the css and js references --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <title>Eat-Da-Burger</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="assets/js/burgers.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Permanent+Marker&display=swap" rel="stylesheet">


</head>
<body>
    {{{ body }}}
</body>
</html>